* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f1e8;
    color: #243b2a;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: #f4f1e8;
    z-index: 9999;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    color: #243b2a;
    text-decoration: none;
}

nav {
    display: flex;
    align-items: center;
    gap: 30px;
}

nav a {
    text-decoration: none;
    color: #243b2a;
    font-size: 16px;
}

main {
    padding-top: 90px;
}

.hero {
    display: flex;
    min-height: 550px;
    padding: 40px 50px 80px;
    gap: 50px;
    align-items: center;
}

.hero-text {
    width: 50%;
}

h1 {
    font-size: 50px;
    line-height: 0.95;
    margin-bottom: 25px;

    /* display: grid;
    grid-template-columns: min-content; */

    @media (width > 700px) {
        font-size: clamp(3.125rem, -0.8523rem + 9.0909vw, 4.375rem);
    }
}

.hero-text p {
    max-width: 450px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.button {
    display: inline-block;
    background: #3d6947;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 30px;
}

.hero-image {
    width: 50%;
}

.image-placeholder {
    height: 450px;
    background: #b7c7a5;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #3d4d3b;
}

.intro {
    background: #dce5d2;

    padding: 80px 50px;

    text-align: center;

    h2 {
        font-size: 45px;

        line-height: 1;

        margin-bottom: 25px;
    }

    p {
        max-width: 600px;

        margin: 0 auto;

        line-height: 1.6;
    }
}

.main-footer {
    background: #1f1f1f;
    color: white;
    padding: 25px 20px;
}

/* lijstjte links */
.main-footer ul {
    display: flex;
    justify-content: space-around;
    align-items: center;

    list-style: none;
    margin: 0;
    padding: 0;

    li {
        flex: 1;
        text-align: center;
    }

    a {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 6px;

        color: white;
        text-decoration: none;

        font-size: 20px;
        font-weight: bold;

        &:hover {
            color: #243b2a;
        }
    }
}

.news-section {
    background: #dce5d2;
    padding: 80px 50px;

    @media (width > 700px) {
        padding: 60px 20px;
    }
}

.news-section h2 {
    font-size: 45px;
    color: #243b2a;
    margin-bottom: 35px;
    text-align: center;

    @media (width > 700px) {
        font-size: 35px;
    }
}

.news-slider {
    display: flex;
    gap: 25px;
    max-width: 1200px;
    margin: 0 auto;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding-bottom: 15px;
}

.news-card {
    background: #f4f1e8;
    border-radius: 15px;
    overflow: hidden;
    min-width: 270px;
    flex: 1;
    scroll-snap-align: start;
}

.news-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    display: block;
}

.news-content {
    padding: 20px;
}

.news-date {
    font-size: 13px;
    color: #5d705f;
}

.news-content h3 {
    color: #243b2a;
    font-size: 22px;
    margin: 8px 0 12px;
}

.news-content p {
    color: #3d4d3b;
    line-height: 1.5;
    margin-bottom: 18px;
}

.news-content a {
    color: #3d6947;
    font-weight: bold;
    text-decoration: none;
}

.news-content a:hover {
    text-decoration: underline;
}

.collectie {
    padding: 50px;
    background: #f4f1e8;
}

.collectie-header {
    max-width: 700px;
    margin: 0 auto 60px;
    text-align: center;
}

.collectie-header h1 {
    font-size: 50px;
    color: #243b2a;
    margin-bottom: 20px;
}

.collectie-header p {
    line-height: 1.6;
    color: #3d4d3b;
}

.bloemen-lijst {
    max-width: 900px;
    margin: 0 auto;
}

.bloem-item {
    display: flex;
    background: #dce5d2;
    margin-bottom: 30px;
    border-radius: 15px;
    overflow: hidden;
    min-height: 250px;
}

.bloem-item img {
    width: 35%;
    object-fit: cover;
}

.bloem-info {
    padding: 30px;
}

.bloem-type {
    font-size: 13px;
    color: #5d705f;
    text-transform: uppercase;
    font-weight: bold;
}

.bloem-info h2 {
    font-size: 32px;
    color: #243b2a;
    margin: 8px 0 15px;
}

.bloem-info p {
    line-height: 1.6;
    color: #3d4d3b;
    margin-bottom: 20px;
}

.bloem-info a {
    color: #3d6947;
    font-weight: bold;
    text-decoration: none;
}

.bloem-info a:hover {
    text-decoration: underline;
}

.main-footer .icon {
    font-size: 30px;
    line-height: 1;
    color: #FFF;
    filter: brightness(0) invert(1);
}

/* Als je met je muis over een item gaat */
.main-footer a:hover {
    color: #5d7cff;
}

@media (max-width: 700px) {

    header {
        height: 75px;
        padding: 20px;
    }

    nav {
        display: none;
    }

    main {
        padding-top: 75px;
    }

    .hero {
        flex-direction: column;
        padding: 30px 20px 60px;
    }

    .hero-text,
    .hero-image {
        width: 100%;
        order: 2;
    }

    .hero-text img {
        width: 100%;
        max-width: 450px;
        height: 250px;
        object-fit: cover;
        object-position: center;
        display: block;
        margin-bottom: 30px;
    }

    .image-placeholder {
        height: 300px;
    }

    .intro {
        padding: 60px 20px;
    }

    .intro h2 {
        font-size: 35px;
    }

    .news-card {
        min-width: 85%;
    }

    .main-footer {
        padding: 20px 10px;
    }

    .main-footer a {
        font-size: 16px;
    }

    .main-footer .icon {
        font-size: 26px;
    }

    .collectie {
        padding: 30px 20px 60px;
    }

    .collectie-header h1 {
        font-size: 40px;
    }

    .bloem-item {
        flex-direction: column;
    }

    .bloem-item img {
        width: 100%;
        height: 220px;
    }

    .bloem-info {
        padding: 25px;
    }
}